<header class="header-main">
    <div class="header-overlay">
    <div class="contenedor">
        <div class="barra">
            <a href="/" class="logo">
                <h1 class="logo__nombre no-margin centrar-texto logo__bold">Titulo</h1>
            </a>

            <nav class="navegacion">
                <a href="{% url 'blog:posts' %}" class="navegacion__enlace">Eventos</a>
                <a href="https://www.instagram.com/lol_es/?hl=es-la" class="navegacion__enlace" target="_blank">Instagram</a>
            </nav>
        </div>
    </div>

    <div class="header__texto">
        <h2 class="no-margin">Subtitulo de la pagina</h2>
        <p class="no-margin">Vivamus consectetur in nisi vitae dictum.</p>
    </div>
    </div>

</header>